# Flash Size
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

# CPU Frequency 
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# PSRAM 
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_MODE_OCT=y

# Console output
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Flash Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="ESP32s3-partitions.csv"

# Ethernet for IDF v6
CONFIG_ETH_ENABLED=y
CONFIG_ETH_USE_SPI_ETHERNET=y
CONFIG_ETH_USE_ESP32_EMAC=n
CONFIG_XEDGE_ETH_PHY_W5500=y

