menu "Xedge config"
   
   menu "Camera"
 #     depends on IDF_TARGET_ESP32 || IDF_TARGET_ESP32S3
      config CAM_ENABLED
	      bool "Enable camera module"
	      default n
	      help
		      Includes in the compilation the CAM module, note that it is not compatible with the esp32 standard.
		         

      if CAM_ENABLED
         choice CAM_GRAB
            prompt "Image capturing mode"
            default GRAB_WHEN_EMPTY
            help
              Select the camera capturing images mode.

            config GRAB_WHEN_EMPTY
              bool "EMPTY"
              help
                  Fills buffers when they are empty. Less resources but first 'fb_count' frames might be old.

            config GRAB_LATEST
              bool "LATEST"
              help
                  Except when 1 frame buffer is used, queue will always contain the last 'fb_count' frames.
         endchoice

         choice CAM_FB_COUNT
            prompt "Number of frame buffers"
            default FB_ONE
            help
              Select number of frame buffers.

            config FB_ONE
              bool "ONE"
              help
                  Normal speed.

            config FB_TWO
              bool "TWO"
              help
                  Two double speed.
         endchoice
      endif # CAM_ENABLED
   endmenu

   menu "Connection"
      
      config WIFI_SCAN_RSSI_THRESHOLD
          int "WiFi minimum rssi"
          range -127 0
          default -127
          help
              The minimum rssi to accept in the scan mode.

      config ETHERNET_EMAC_TASK_STACK_SIZE
         int "emac_rx task stack size"
         default 2048
         depends on ETH_USE_ESP32_EMAC || ETH_USE_SPI_ETHERNET
         help
            This set stack size for emac_rx task

      config ETHERNET_PHY_ADDR
         int "PHY Address"
         range 0 31 if ETH_USE_ESP32_EMAC
         default 1
         depends on ETH_USE_ESP32_EMAC || ETH_USE_SPI_ETHERNET
         help
            Set PHY address according your board schematic.

      # PHY hardware devices for RMII internal interface (Only visible if native EMAC is enabled)
      if ETH_USE_ESP32_EMAC
          choice XEDGE_ETH_INTERNAL_PHY
              prompt "Internal EMAC PHY Device"
              default XEDGE_ETH_PHY_IP101

              config XEDGE_ETH_PHY_IP101
                  bool "IC Plus IP101"
              config XEDGE_ETH_PHY_LAN8720
                  bool "Microchip LAN8720"
              config XEDGE_ETH_PHY_DP83848
                  bool "TI DP83848"
              config XEDGE_ETH_PHY_KSZ8041
                  bool "Microchip KSZ8041"
              config XEDGE_ETH_PHY_RTL8201
                  bool "CoreChip RTL8201"
          endchoice
      endif

      # PHY hardware devices for SPI interface (Only visible if native SPI Eth is enabled)
      if ETH_USE_SPI_ETHERNET
          choice XEDGE_ETH_SPI_DEVICE
              prompt "SPI Ethernet Module"
              default XEDGE_ETH_PHY_W5500

              config XEDGE_ETH_PHY_W5500
                  bool "Wiznet W5500"
              config XEDGE_ETH_PHY_DM9051
                  bool "Davicom DM9051"
          endchoice
      endif
     
      config XEDGE_WIFI_ENABLED
         bool "Enable Wi-Fi features"
         default y
         help
            Enable native Wi-Fi support (Station and AP).

      menu "Wifi AP"
       depends on XEDGE_WIFI_ENABLED
      	
       config WIFI_AP_SSID
           string "WiFi SSID"
           default "xedge32"
           help
               SSID (network name) for to connect to.

       config WIFI_AP_PASSWORD
           string "WiFi Password"
           default "12345678"
           help
               WiFi password (WPA or WPA2) minimun 8 characters.
       config WIFI_AP_CHANNEL
           int "WiFi Channel"
           range 1 13
           default 1
           help
               WiFi channel (network channel).

       config WIFI_AP_MAX_STA_CONN
           int "Maximal STA connections"
           default 4
           help
               Max number of the STA connects to AP.
      
       menu "Network Settings"

          config WIFI_AP_IP_ADDR
              string "IP Address"
              default "192.168.190.0"

          config WIFI_AP_GATEWAY
              string "Gateway"
              default "192.168.190.0"

          config WIFI_AP_NETMASK
              string "Netmask"
              default "255.0.0.0"

       endmenu
      endmenu
   endmenu

   menu "mDNS"
      config mDNS_ENABLED
         bool "Enable mDNS"
      default n
      help
             Enable mDNS - zeroconf
   endmenu

   menu "OPC UA"
      config OPCUA_ENABLED
         bool "Enable OPC UA"
      default n
      help
             Enabling this is required if you build BAS-Resources:Xedge with OPC UA
   endmenu

   menu "softTPM"
      config softTPM_EFUSE_ENABLED
         bool "Use eFuse"
      default n
      help
             Use Efuse for storing soft TPM (Trusted Platform Module) key
   endmenu
   
   menu "Debug Threads"
      config DEBUG_THREADS
         bool "Enable Debug Threads"
         default n
         select FREERTOS_USE_TRACE_FACILITY
         help
             Enable this option to enable debugging of threads.
             Automatically sets CONFIG_FREERTOS_USE_TRACE_FACILITY to y.
   endmenu
endmenu
